@model MVC_IDENTITY_EXAMPLE_UI_.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<style>
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
    }

    body {
        font-family: 'Nunito', sans-serif;
        color: #384047;
    }

    form {
        /*max-width: 300px;
    margin: 4% auto;
    padding: 10px 20px;
    background: #D3C8F5;
    border-radius: 8px;*/
    }

    h1 {
        margin: 0 0 5% 0;
        text-align: center;
    }

    h3 {
        margin: 2% 0 4% 0;
        text-align: center;
    }

    h4 {
        margin: 4% 0 2% 0;
        text-align: left;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        color: #160C32;
        box-shadow: 0 0 1px 1px rgba(22, 12, 50, 0.5) inset;
        margin-bottom: 3%;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 1% 1% 0;
    }

    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    input[type="submit"] {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #239B7D;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #331C78;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 7%;
        margin-top: 1%;
    }

    fieldset {
        margin-bottom: 3%;
        border: none;
        font-family: 'Nunito', sans-serif;
        color: #384047;
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 4%;
    }

    label {
        display: block;
        margin-bottom: 2%;
    }

        label.light {
            font-weight: 300;
            display: inline;
        }

    .number {
        background-color: #239B7D;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 100%;
    }


    form {
        margin-bottom: 5%;
        margin-top: 17%;
        max-width: 480px;
    }

    #checkdiv {
        display:flex;
        grid-auto-flow: row;
       

    }


    /*
      #239B7D
      #D3C8F5
      */
    /*
      #160C32  RGB(22, 12, 50)
      #241455  RGB(36, 20, 85)
      #331C78  RGB(51, 28, 120)
      #41239B  RGB(65, 35, 155)
      #4F2ABF  RGB(79, 42, 191)
      #633DD6  RGB(99, 61, 214)

      */



</style>

<form id="msform">
    <!-- progressbar -->
    <!-- fieldsets -->
    <fieldset>
        <h2 class="fs-title">Login</h2>

        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <input asp-for="Login" class="form-control" placeholder="Login" />
            <span asp-validation-for="Login" class="text-danger"></span>


            <input asp-for="Password" class="form-control" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>



     
        
            <input style=" margin-left: -45px;" class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
           



            <input style="color:white" type="submit" value="LOGIN" class="btn btn-primary" />

        </form>
        <form  asp-action="ResetPassword">
            <input type="text" name="userEmail" placeholder="Email" />
            <input style="color:white" type="submit" value="RESET PASSWORD" />
        </form>

    </fieldset>
</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
