@model CarViewModel

@{
    ViewData["Title"] = "Biggest Search";
}
@*slider*@


<style>




    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        /*Image only BG fallback*/
        /*background = gradient + image pattern combo*/
    }

    body {
        font-family: 'Nunito', sans-serif;
        color: #384047;
    }

    form {
        margin: 2% auto;
        width: 120%;
        margin-left: -10%;
        background: rgba(239, 230, 245,0.9);
        border-radius: 8px;
        padding: 2%;
    }

    h1 {
        margin: 0 0 5% 0;
        text-align: center;
    }

    h3 {
        margin: 2% 0 4% 0;
        text-align: center;
    }

    h4 {
        margin: 4% 0 2% 0;
        text-align: left;
    }

    input[type="number"] {
        height: 40px !important;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        font-size: 16px !important;
        height: 50px !important;
        color: none !important;
        box-shadow: 0 0 1px 1px rgba(22, 12, 50, 0.5) inset !important;
        background: none !important;
        display: block !important;
        margin: 20px auto !important;
        text-align: center !important;
        border: 2px solid #241455 !important;
        padding: 14px 10px !important;
        width: 200px !important;
        outline: none !important;
        color: #331C78 !important;
        border-radius: 24px !important;
        transition: 0.25s !important;
    }

        input[type = "text"]:focus,
        input[type = "password"]:focus
        input[type="date"]:focus,
        input[type="datetime"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="time"]:focus,
        input[type="url"]:focus {
            width: 280px !important;
            border-color: #239B7D !important;
        }

    input[type="number"] {
        height: 40px !important;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        transform: scale(2);
        opacity: 0.9;
        cursor: pointer;
    }
        /*        input[type="checkbox"]:checked {
            background: radial-gradient(rgba(36, 20, 85, 1), rgba(22, 12, 50, 1));
        }*/
        input[type="radio"]:checked,
        input[type="checkbox"]:checked {
            transform: scale(2.5);
        }

    input[type = "submit"] {
        border: 0 !important;
        background: none !important;
        display: block !important;
        margin: 20px auto !important;
        text-align: center !important;
        border: 2px solid #239B7D !important;
        padding: 14px 40px !important;
        outline: none !important;
        color: #239B7D !important;
        border-radius: 24px !important;
        transition: 0.25s !important;
        cursor: pointer !important;
        width: 200px !important;
    }

        input[type = "submit"]:hover {
            background: #239B7D !important;
            color: #331C78 !important;
            width: 300px !important;
        }



    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    button {
        padding: 19px 39px 18px 39px;
        color: #239B7D;
        background-color: #239B7D;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #331C78;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 5%;
    }

    fieldset {
        margin-bottom: 3%;
        border: none;
        width: 20%
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 4%;
    }

    label {
        display: block;
        margin-bottom: 2%;
    }

        label.light {
            font-weight: 300;
            display: inline;
        }

    .number {
        background-color: #239B7D;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 100%;
    }

    label {
        font-size: 20px;
        margin-left: 4%;
        font-weight: 200;
    }
</style>




@using (Html.BeginForm("GetCarPartial", "Car", FormMethod.Post))
{
    <div class="row" style="display:flex; text-align:center">
        <div style="width:25%;display:flex; justify-content:space-around">
            <legend><span class="number">1</span>Basic info</legend>
        </div>
        <div style="width:25%;display:flex; justify-content:space-around">
            <legend><span class="number">2</span>Types</legend>
        </div>
        <div style="width:25%;display:flex; justify-content:space-around">
            <legend><span class="number">3</span>Else search</legend>
        </div>
        <div style="width:25%;display:flex; text-align:center">
            <legend><span class="number">4</span>Custom</legend>
        </div>
    </div>
    <div class="row" style="display:flex; justify-content:space-around">

        <fieldset>

            <h5>Price:</h5>
            <input type="number" name="MinPrice" placeholder="Min Price" />
            <input type="number" name="MaxPrice" placeholder="Max Price" />


            <select name="IsNew">
                <option selected value="null">All statuses</option>
                <option value="true">New</option>
                <option value="false">Used</option>
            </select>

            <h5>Range:</h5>

            <input type="number" name="MinRange" placeholder="Min Range" />
            <input type="number" name="MaxRange" placeholder="Max Range" />

            <h5>Production Year:</h5>
            <input type="number" name="MinYear" placeholder="Min Year" />
            <input type="number" name="MaxYear" placeholder="Max Year" />

            <select id="CreateCountryName" name="CreateCountryName">
                <option selected value="null">All countries</option>

                <option value="USA">USA</option>
                <option value="Ukraine">Ukraine</option>
                <option value="Japan">Japan</option>
                <option value="Germany">Germany</option>
            </select>
            <select id="brend" name="BrendName">
                <option selected value="null">All brands</option>

                <option value="Audi">Audi</option>
                <option value="Nissan">Nissan</option>
                <option value="Dodge">Dodge</option>
                <option value="Bentley">Bentley</option>
            </select>
            <select id="model" name="ModelName">
                <option selected value="null">All models</option>

                <option value="RS3">RS3</option>
                <option value="GT-R">GT-R</option>
                <option value="Durando">Durando</option>
                <option value="Flying Spur">Flying Spur</option>
            </select>

        </fieldset>

        <fieldset>
            <h4>GearBoxType</h4>
            <select id="GearBoxType" name="GearBoxType">
                <option selected value="null">All types</option>
                <option value="1">Type A</option>
                <option value="2">Tupe B</option>
                <option value="3">Type C</option>
            </select>
            <h4>DriverianType</h4>
            <select id="DriverianType" name="DriverianType">
                <option selected value="null">All types</option>
                <option value="1">Type A</option>
                <option value="2">Tupe B</option>
                <option value="3">Type C</option>
            </select>
            <h4>PetrolType</h4>
            <select id="PetrolType" name="PetrolType">
                <option selected value="null">All types</option>
                <option value="1">Type A</option>
                <option value="2">Tupe B</option>
                <option value="3">Type C</option>
            </select>
            <h4>BodyType</h4>
            <select id="BodyType" name="BodyType">
                <option selected value="null">All types</option>
                <option value="1">Type A</option>
                <option value="2">Tupe B</option>
                <option value="3">Type C</option>
            </select>
        </fieldset>


        <fieldset>
            <input type="number" name="DoorsCount" placeholder="Doors count" />
            <input type="number" name="CityСonsumption" placeholder="City Сonsumption" />
            <input type="number" name="AutobanСonsumption" placeholder="AutobanСonsumption" />
            <input type="number" name="MidleСonsumption" placeholder="MidleСonsumption" />
            <input type="number" name="MaxPower" placeholder="MaxPower" />
            <input type="number" name="MaxTorque" placeholder="MaxTorque" />
            <input type="number" name="StartYear" placeholder="StartYear" />
            <input type="number" name="EndYear" placeholder="EndYear" />

        </fieldset>


        <fieldset>
            <h4>Comfort</h4>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveCondicioner"><label class="light" for="development">Conditioner</label><br>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveSeatsHeating"><label class="light" for="development">Seats heating</label><br>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveCruiseControl"><label class="light" for="development">Cruise control</label><br>
            <h4>State</h4>
            <input type="checkbox" id="StateList" value="true" name="IsHaveGarageSaving"><label class="light" for="design">Garage saving</label><br>
            <input type="checkbox" id="StateList" value="true" name="IsHaveDontHit"><label class="light" for="design">Dont hit</label><br>
            <input type="checkbox" id="StateList" value="true" name="IsHaveFirstOwner"><label class="light" for="design">First owner</label><br>
            <h4>Mupti media:</h4>
            <input type="checkbox" id="MultiMediaList" value="true" name="IsHaveMp3"><label class="light" for="business">MP3</label><br>
            <input type="checkbox" id="MultiMediaList" value="true" name="IsHaveSubbufer"><label class="light" for="business">Subbuffer</label><br>
            <h4>Safe:</h4>
            <input type="checkbox" id="SaveList" value="true" name="IsHaveAirBags"><label class="light" for="design">Air bags</label><br>
            <input type="checkbox" id="SaveList" value="true" name="IsHaveSleepingCheck"><label class="light" for="design">Sleeping check</label><br>
        </fieldset>
    </div>
    <input id="SearchBtnId" type="submit" value="Search">
}

<!--
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script>
            var filter = new Object();
            $('#SearchBtnId').click(function () {

                filter.IsNew = $("select[name='IsNew']").val();
                filter.MinPrice = $("input[name='MinPrice']").val();
                filter.MaxPrice = $("input[name='MaxPrice']").val();
                filter.MinRange = $("input[name='MinRange']").val();
                filter.MaxRange = $("input[name='MaxRange']").val();
                filter.CreateCountryName = $("select[name='CreateCountryName']").val();
                filter.BrendName = $("select[name='BrendName']").val();
                filter.ModelName = $("select[name='ModelName']").val();
                filter.GearBoxType = $("select[name='GearBoxType']").val();
                filter.DriverianType = $("select[name='DriverianType']").val();
                filter.PetrolType = $("select[name='PetrolType']").val();
                filter.BodyType = $("select[name='BodyType']").val();-->
@*Configuration*@
<!--filter.IsHaveCondicioner = $("input[name='IsHaveCondicioner']").is(":checked");
filter.IsHaveSeatsHeating = $("input[name='IsHaveSeatsHeating']").is(":checked");
filter.IsHaveCruiseControl = $("input[name='IsHaveCruiseControl']").is(":checked");
filter.IsHaveGarageSaving = $("input[name='IsHaveGarageSaving']").is(":checked");
filter.IsHaveDontHit = $("input[name='IsHaveDontHit']").is(":checked");
filter.IsHaveFirstOwner = $("input[name='IsHaveFirstOwner']").is(":checked");
filter.IsHaveMp3 = $("input[name='IsHaveMp3']").is(":checked");
filter.IsHaveSubbufer = $("input[name='IsHaveSubbufer']").is(":checked");
filter.IsHaveAirBags = $("input[name='IsHaveAirBags']").is(":checked");
filter.IsHaveSleepingCheck = $("input[name='IsHaveSleepingCheck']").is(":checked");-->
@*EndConfiguration*@
<!--filter.DoorsCount = $("input[name='DoorsCount']").val();
                filter.CityСonsumption = $("input[name='CityСonsumption']").val();
                filter.AutobanСonsumption = $("input[name='AutobanСonsumption']").val();
                filter.MidleСonsumption = $("input[name='MidleСonsumption']").val();
                filter.MaxPower = $("input[name='MaxPower']").val();
                filter.MaxTorque = $("input[name='MaxTorque']").val();
                filter.StartYear = $("input[name='StartYear']").val();
                filter.EndYear = $("input[name='EndYear']").val();


                    $.ajax({
                        type: 'POST',
                        url: '',
                        data: filter,
                        //success: function (data) {
                        //    alert(data.responseText);
                        //},
                        error: function (data) {
                            alert(data.responseText);
                        }
                    });
                });
        </script>

}-->
