@model CarViewModel

@{
    ViewData["Title"] = "Create";
}
<style>
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html {
        /*Image only BG fallback*/
        /*background = gradient + image pattern combo*/
    }

    body {
        font-family: 'Nunito', sans-serif;
        color: #384047;
    }

    form {
        max-width: 900px;
        margin: 4% auto;
        padding: 10px 20px;
        background: #D3C8F5;
        border-radius: 8px;
    }

    h1 {
        margin: 0 0 5% 0;
        text-align: center;
    }

    h3 {
        margin: 2% 0 4% 0;
        text-align: center;
    }

    h4 {
        margin: 4% 0 2% 0;
        text-align: left;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        font-size: 16px !important;
        height: auto !important;
        color: none !important;
        box-shadow: 0 0 1px 1px rgba(22, 12, 50, 0.5) inset !important;
        background: none !important;
        display: block !important;
        margin: 20px auto !important;
        text-align: center !important;
        border: 2px solid #241455 !important;
        padding: 14px 10px !important;
        width: 200px !important;
        outline: none !important;
        color: #331C78 !important;
        border-radius: 24px !important;
        transition: 0.25s !important;
    }

        input[type = "text"]:focus,
        input[type = "password"]:focus
        input[type="date"]:focus,
        input[type="datetime"]:focus,
        input[type="email"]:focus,
        input[type="number"]:focus,
        input[type="search"]:focus,
        input[type="tel"]:focus,
        input[type="time"]:focus,
        input[type="url"]:focus {
            width: 280px !important;
            border-color: #239B7D !important;
        }

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        transform: scale(2);
        opacity: 0.9;
        cursor: pointer;
    }
        /*        input[type="checkbox"]:checked {
            background: radial-gradient(rgba(36, 20, 85, 1), rgba(22, 12, 50, 1));
        }*/
        input[type="radio"]:checked,
        input[type="checkbox"]:checked {
            transform: scale(2.5);
        }

    input[type = "submit"] {
        border: 0 !important;
        background: none !important;
        display: block !important;
        margin: 20px auto !important;
        text-align: center !important;
        border: 2px solid #239B7D !important;
        padding: 14px 40px !important;
        outline: none !important;
        color: #331C78 !important;
        border-radius: 24px !important;
        transition: 0.25s !important;
        cursor: pointer !important;
        width: 50% !important;
    }

        input[type = "submit"]:hover {
            background: #239B7D !important;
            color: #331C78 !important;
            width: 280px !important;
        }



    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #239B7D;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #331C78;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 5%;
    }

    fieldset {
        margin-bottom: 3%;
        border: none;
        width: 30%
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 4%;
    }

    label {
        display: block;
        margin-bottom: 2%;
    }

        label.light {
            font-weight: 300;
            display: inline;
        }

    .number {
        background-color: #239B7D;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 100%;
    }

    label {
        font-size: 20px;
        margin-left: 4%;
        font-weight: 200;
    }
</style>

@using (Html.BeginForm("Create", "Car", FormMethod.Post))
{
    <h1> Create Car</h1>
    <div class="row" style="display:flex; text-align:center">
        <div style="width:33%;display:flex; justify-content:space-around">
            <legend><span class="number">1</span>Basic info</legend>
        </div>
        <div style="width:66%;display:flex; text-align:center">
            <legend><span class="number">2</span>Configuration</legend>
        </div>
    </div>
    <div class="row" style="display:flex; justify-content:space-around">

        <fieldset>


            <input type="number" name="CarPrice" placeholder="Car Price" />
            <input type="number" name="RunRange" placeholder="Run Range" />
            <input type="number" name="ProductionYear" placeholder="Production year" />

            <input type="checkbox" value="true" name="isNew"><label class="light">New Car</label><br>


            <h4>Brand:</h4>
            <select id="brend" name="CarBrend">

                <option value="Audi">Audi</option>
                <option value="Nissan">Nissan</option>
                <option value="Dodge">Dodge</option>
                <option value="Bentley">Bentley</option>
            </select>
            <h4>Model:</h4>
            <select id="model" name="ModelName">
                <option value="RS3">RS3</option>
                <option value="GT-R">GT-R</option>
                <option value="Durando">Durando</option>
                <option value="Flying Spur">Flying Spur</option>
            </select>

        </fieldset>

        <fieldset>
            <h3>Transmistion</h3>
            <select id="GearBox" name="GearBoxType">
                <option value="1">Gb 1</option>
                <option value="2">Gb 2</option>
                <option value="3">Gb 3</option>
            </select>
            <input type="number" name="GearCount" placeholder="Gear count" />
            <select id="Driverian" name="DriverianType">
                <option value="1">Dv 1</option>
                <option value="2">Dv 2</option>
                <option value="3">Dv 3</option>
            </select>

            <h3>Body</h3>
            <select id="GearBox" name="BodyType">
                <option value="Body1">Body 1</option>
                <option value="Body2">Body 2</option>
                <option value="Body3">Body 3</option>
            </select>

            <input type="number" name="DoorsCount" placeholder="Doors count" />

            <h3>Engine</h3>


            <input type="number" name="Volume" placeholder="Engine volume(in mililiters)" />
            <input type="number" name="CylinderCount" placeholder="Cylinder count" />
            <select id="Petrol" name="PetrolType">
                <option value="Petrol">Petrol</option>
                <option value="Gas/Petrol">Gas/Petrol</option>
                <option value="Gas">Gas</option>
                <option value="Diesel">Diesel</option>
                <option value="Hibrid">Hibrid</option>
                <option value="Electric">Electric</option>
            </select>
            <input type="number" name="MaxPower" placeholder="maxPower" />
            <input type="number" name="MaxTorque" placeholder="MaxTorque" />
            <input type="number" name="MaxRpm" placeholder="MaxRpm" />
            <input type="number" name="MaxPowerRpm" placeholder="MaxPowerRpm" />
            <input type="number" name="MaxTorqueRpm" placeholder="MaxTorqueRpm" />
            <input type="number" name="CityСonsumption" placeholder="City Сonsumption" />
            <input type="number" name="AutobanСonsumption" placeholder="Autoban Сonsumption" />
            <input type="number" name="MidleСonsumption" placeholder="Midle Сonsumption" />
            <select id="Boost" name="BoostType">
                <option value="N/A">N/A</option>
                <option value="Supercharger">Supercharger</option>
                <option value="Single Turbo">Single Turbo</option>
                <option value="Twin turbo">Twin turbo</option>
                <option value="Bi turbo">Bi turbo</option>
            </select>

        </fieldset>

        <fieldset>
            <h3>Comfort</h3>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveCondicioner"><label class="light" for="development">Conditioner</label><br>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveSeatsHeating"><label class="light" for="development">Seats heating</label><br>
            <input type="checkbox" id="ComfortList" value="true" name="IsHaveCruiseControl"><label class="light" for="development">Cruise control</label><br>
            <h3>State</h3>
            <input type="checkbox" id="StateList" value="true" name="IsHaveGarageSaving"><label class="light" for="design">Garage saving</label><br>
            <input type="checkbox" id="StateList" value="true" name="IsHaveDontHit"><label class="light" for="design">Dont hit</label><br>
            <input type="checkbox" id="StateList" value="true" name="IsHaveFirstOwner"><label class="light" for="design">First owner</label><br>
            <h3>Mupti media</h3>
            <input type="checkbox" id="MultiMediaList" value="true" name="IsHaveMp3"><label class="light" for="business">MP3</label><br>
            <input type="checkbox" id="MultiMediaList" value="true" name="IsHaveSubbufer"><label class="light" for="business">Subbuffer</label><br>
            <h3>Save</h3>
            <input type="checkbox" id="SaveList" value="true" name="IsHaveAirBags"><label class="light" for="design">Air bags</label><br>
            <input type="checkbox" id="SaveList" value="true" name="IsHaveSleepingCheck"><label class="light" for="design">Sleeping check</label><br>
        </fieldset>
    </div>
    <input type="submit" value="+Add">
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
