@model CarViewModel

@{
    ViewData["Title"] = "Create";
}
<style>
    *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {

	/*Image only BG fallback*/

	/*background = gradient + image pattern combo*/


}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 4% auto;
  padding: 10px 20px;
  background: #D3C8F5;
  border-radius: 8px;
}

h1 {
  margin: 0 0 5% 0;
  text-align: center;
}
h3 {
  margin: 2% 0 4% 0;
  text-align: center;
}
h4 {
  margin: 4% 0 2% 0;
  text-align: left;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #160C32 ;
  box-shadow: 0 0 1px 1px rgba(22, 12, 50, 0.5) inset;
  margin-bottom: 3%;
}

    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 2.5%;
        margin-left: 2.5%;
        transform: scale(2);
        opacity: 0.9;
        cursor: pointer;

    }
/*        input[type="checkbox"]:checked {
            background: radial-gradient(rgba(36, 20, 85, 1), rgba(22, 12, 50, 1));
        }*/
        input[type="radio"]:checked,
        input[type="checkbox"]:checked {
            transform: scale(2.5);
         
        }

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #239B7D;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #331C78 ;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 5%;
}

fieldset {
  margin-bottom: 3%;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 4%;
}

label {
  display: block;
  margin-bottom: 2%;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #239B7D;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

  form {
    max-width: 480px;
  }

    label {
        font-size: 20px;
        margin-left: 4%;
        font-weight: 200;
    }

</style>

@*<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Car</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>*@

    @using (Html.BeginForm("Create", "Car", FormMethod.Post))
    {
        <h1> Create Car</h1>

        <fieldset>
            <legend><span class="number">1</span>Basic info</legend>

            <input type="number" name="CarPrice" placeholder="Car Price" />
            <input type="number" name="RunRange" placeholder="Run Range" />

            <input type="checkbox" value="IsNew" name="IsNew"><label   class="light">New Car</label><br>


            <h4>Brend:</h4>
            <select id="brend" name="BrendName">
                <option value="Brend 1">model 1</option>
                <option value="Brend 2">model 2</option>
                <option value="Brend 3">model 3</option>
            </select>
            <h4>Model:</h4>
            <select id="model" name="ModelName">
                <option value="Mmodel 1">model 1</option>
                <option value="Mmodel 2">model 2</option>
                <option value="Mmodel 3">model 3</option>
                <option value="Smodel 1">model 1</option>
                <option value="Smodel 2">model 2</option>
                <option value="Smodel 3">model 3</option>
                <option value="Hmodel 1">model 1</option>
                <option value="Hmodel 2">model 2</option>
                <option value="Hmodel 3">model 3</option>
                <option value="Lmodel 1">model 1</option>
                <option value="Lmodel 2">model 2</option>
                <option value="Lmodel 3">model 3</option>
            </select>

        </fieldset>

        <fieldset>
            <legend><span class="number">2</span>Configuration</legend>
            <h3>Transmistion</h3>
            <select id="GearBox" name="GearBoxType">
                <option value="Gb 1">Gb 1</option>
                <option value="Gb 2">Gb 2</option>
                <option value="Gb 3">Gb 3</option>
            </select>
            <input type="number" name="GearCount" placeholder="Gear count" />
            <select id="GearBox" name="DriverianType">
                <option value="Dv 1">Dv 1</option>
                <option value="Dv 2">Dv 2</option>
                <option value="Dv 3">Dv 3</option>
            </select>

            <h3>Body</h3>
            <select id="GearBox" name="BodyType">
                <option value="Body 1">Body 1</option>
                <option value="Body 2">Body 2</option>
                <option value="Body 3">Body 3</option>
            </select>
            <input type="number" name="DoorsCount" placeholder="Doors count" />

            <h3>Engine</h3>
            <input type="number" name="Volume" placeholder="Engine volume(in mililiters)" />
            <input type="number" name="CylinderCount" placeholder="Cylinder count" />
            <select id="Petrol" name="PetrolType">
                <option value="Petrol 1">Petrol 1</option>
                <option value="Petrol 2">Petrol 2</option>
                <option value="Petrol 3">Petrol 3</option>
            </select>
            <input type="number" name="MaxPower" placeholder="maxPower" />
            <input type="number" name="MaxTorque" placeholder="MaxTorque" />
            <input type="number" name="MaxRpm" placeholder="MaxRpm" />
            <input type="number" name="MaxPowerRpm" placeholder="MaxPowerRpm" />
            <input type="number" name="MaxTorqueRpm" placeholder="MaxTorqueRpm" />
            <input type="number" name="CityСonsumption" placeholder="City Сonsumption" />
            <input type="number" name="AutobanСonsumption" placeholder="Autoban Сonsumption" />
            <input type="number" name="MidleСonsumption" placeholder="Midle Сonsumption" />
            <select id="Boost" name="Boost">
                <option value="Boost 1">Boost 1</option>
                <option value="Boost 2">Boost 2</option>
                <option value="Boost 3">Boost 3</option>
            </select>




            <h3>Comfort</h3>
            <input type="checkbox" id="ComfortList" value="ComfortList 1" name="ComfortConfigName"><label class="light" for="development">ComfortList</label><br>
            <input type="checkbox" id="ComfortList" value="ComfortList 2" name="ComfortConfigName"><label class="light" for="development">ComfortList</label><br>
            <input type="checkbox" id="ComfortList" value="ComfortList 3" name="ComfortConfigName"><label class="light" for="development">ComfortList</label><br>
            <h3>State</h3>
            <input type="checkbox" id="StateList" value="StateList 1" name="StateConfigName"><label class="light" for="design">StateList</label><br>
            <input type="checkbox" id="StateList" value="StateList 2" name="StateConfigName"><label class="light" for="design">StateList</label><br>
            <input type="checkbox" id="StateList" value="StateList 3" name="StateConfigName"><label class="light" for="design">StateList</label><br>
            <h3>Mupti media</h3>
            <input type="checkbox" id="MultiMediaList" value="MultiMediaList 1" name="MultiMediaConfigName"><label class="light" for="business">MultiMediaList</label><br>
            <input type="checkbox" id="MultiMediaList" value="MultiMediaList 2" name="MultiMediaConfigName"><label class="light" for="business">MultiMediaList</label><br>
            <input type="checkbox" id="MultiMediaList" value="MultiMediaList 3" name="MultiMediaConfigName"><label class="light" for="business">MultiMediaList</label><br>
            <h3>Save</h3>
            <input type="checkbox" id="SaveList" value="SaveList 1" name="SaveConfigName"><label class="light" for="design">SaveList</label><br>
            <input type="checkbox" id="SaveList" value="SaveList 2" name="SaveConfigName"><label class="light" for="design">SaveList</label><br>
        </fieldset>
        <button type="submit">+ADD</button>
    }
@*</body>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
