<style>
    h1, h2, h3, h4, p {
        color: white
    }
</style>
<div id="AllCarsDivId" class="row">
   
</div>
<input type="button" id="CarLoadBtn" value="Load cars"/>
@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        var filter = { "IsNew": "true" };
            $('#CarLoadBtn').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Content("~/Car/GetCarPartial")',
                    data: filter,
                    success: function (data) {
                        $('#AllCarsDivId').html(data);
                    },
                    error: function (data) {
                        alert(data)
                    }
                });
            });
    </script>
}